body {
  font-family: sans-serif;
  cursor: url('cursor.png'), auto;
  background: #f2f2f2;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 15px;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s;
}


.image-container {
  position: relative;
  overflow: visible;
}

.image-container img {
  width: 100%;  
  height: auto; 
  display: block;
}

.image-container:hover img.hover {
  opacity: 1;
}

.pagination {
  text-align: center;
  margin-top: 30px;
}

.pagination a {
  margin: 0 8px;
  text-decoration: none;
  color: blue;
}




